@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<meta http-equiv="refresh" content="@Model.GetLogic().Configuration.LogicUpdateRateSeconds">

<head>
</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Phase A</td>
                <td>@Model.GetLogic().CurrentState.CurrentPhaseAPower</td>
            </tr>
            <tr>
                <td>Phase B</td>
                <td>@Model.GetLogic().CurrentState.CurrentPhaseBPower</td>
            </tr>
            <tr>
                <td>Phase C</td>
                <td>@Model.GetLogic().CurrentState.CurrentPhaseCPower</td>
            </tr>
            <tr>
                <td>Total Power</td>
                <td>@Model.GetLogic().CurrentState.CurrentPower</td>
            </tr>
            <tr>
                <td>Total Averaged Power</td>
                <td>@Model.GetLogic().CurrentState.ActualAveragePower</td>
            </tr>
            <tr>
                <td>Output state</td>
                <td>@Model.GetLogic().CurrentState.ActualOutputState</td>
            </tr>
        </table>
    </div>
</div>